<h1>
  <%=h @exception.class.to_s %>
  <% if request.parameters['controller'] %>
    in <%=h request.parameters['controller'].humanize %>Controller<% if request.parameters['action'] %>#<%=h request.parameters['action'] %><% end %>
  <% end %>
</h1>
<pre><%=h @exception.clean_message %></pre>

<%= @rescues_path.find_template("rescues/_trace.erb").render_template(@template) %>
<%= @rescues_path.find_template("rescues/_request_and_response.erb").render_template(@template) %>